<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vasavi Tastebuds</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/styles.css')}}">
    <script src="https://kit.fontawesome.com/bbc3cf1663.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    
      <a class="navbar-brand" href="#">TasteBuds</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#links" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="links">
            <div class="navbar-nav" id="inner_links">
              <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">Menu</a>
              <a class="nav-item nav-link" href="#">Contact Us</a>
             </div>
      </div>  
    </nav>

    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Vasavi Tastebuds</h1>
                   
                    <p>We take inspiration from the India's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>
                </div>
                <div class="col-12 col-sm">
                	<h4></h4>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 order-sm-last col-md-3">
                <h3>Our Lipsmacking Culinary Creations</h3>
            </div>
            <div class="col col-sm col-md">
                <h2>Hyderabadi Prawns Biriyani</h2>
                <p>Rice and marinated chicken cooked in medium heat with rich Indian spices topped up with cashes, fried onions and corriander leaves</p>
            </div>
        </div>


        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 col-md-3">
                <h3>This Month's Promotions</h3>
            </div>
            <div class="col col-sm col-md">
                <h2>Weekend Grand Buffet</h2>
                <p>Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person </p>
            </div>
        </div>

        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 order-sm-last col-md-3">
                <h3>Meet our Culinary Specialists</h3>
            </div>
            <div class="col col-sm col-md">
                <h2>Vasavi Kakkat</h2>
                <h4>Executive Chef</h4>
                <p>Award winning three-star Indian chef with wide International experience having worked closely with whos-who in the culinary world, she specializes in creating mouthwatering Indo-Chinese fusion experiences. </p>
            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5 style="color:#dd8cd0">Links</h5>
                    <ul class=list-unstyled>
                        <li><a href="#"><span class="fa fa-home fa-lg"></span>Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5 style="color:#dd8cd0">Our Address</h5>
                    <address class="address">
		              4945, Eagle View Lane<br>
		              Victoria, BC<br>
		              Canada<br>
		              <span class="fa fa-phone fa-lg"></span> +306 914 4581<br>
		              <span class="fa fa-fax fa-lg"></span> +306 914 4581<br>
		              <span class="fa fa-envelope fa-lg"></span> <a href="mailto:vasavitastebuds@food.net">vasavitastebuds@food.net</a>

		           </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a href="http://google.com/+"><span class="fab fa-google-plus fa-2x"></span> </a>
                        <a href="http://www.facebook.com/profile.php?id="><span class="fab fa-facebook fa-2x"></span></a>

                        <a href="http://www.linkedin.com/in/"><span class="fab fa-linkedin fa-2x"></span></a>
                        <a href="http://twitter.com/"><span class="fab fa-twitter fa-2x"></span></a>
                        <a href="http://youtube.com/"><span class="fab fa-youtube fa-2x"></span></a>
                        <a href="mailto:"><span class="fab fa-google fa-2x"></span></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p style="color:#dd8cd0">&copy; Copyright 2018 Vsavi Tastebuds Inc</p>
                </div>
           </div>
        </div>
    </footer>

</body>

</html>